:root {
    --heading-font: "Open Sans", sans-serif;
    --paragrpah-font: "Lato", sans-serif;

    --primary-color: #2d2b66;
    --secondary-color: #7c7a71;
    --accent1-color: #62606d;
    --accent2-color: #b19f78;

    --white: #fff;
    --black: #000;

    --footer-background: #333;
    --footer-color: #f3f3f3;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--paragrpah-font);
}

header,
main,
footer {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    background-color: var(--primary-color);
    align-items: center;
}

.logo {
    max-width: 200px;
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    padding: 2em;
}

nav a:hover {
    color: var(--primary-color);
    background-color: #fff;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.533);
}

.hero article {
    position: absolute;
    top: 10rem;
    left: 2rem;
    right: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.533);
}

.hero article img {
    float: right;
    width: 200px;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 0 2rem;
}

.history h2 {
    grid-column: 1/4;
    justify-self: center;
}


.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 2em;
}

.adventures h2 {
    grid-column: 1/-1;
    justify-self: center;
}

.adventures figure {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.adventures figure figcaption {
    background-color: var(--accent2-color);
    padding: .5em;
    text-align: center;
}





/*  Home Styling Begins Here*/

.Superwater {
   position: relative;
   display: inline-block;
    

}

.responsive-image {
    width: 100%;
    height: auto;
}

.having-fun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: antiquewhite;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(197, 198, 196, 0.7);

}


.water-rafting-h2 {

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: antiquewhite;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(197, 198, 196, 0.7);


}



.button-box {
    position: absolute;
    align-items: center;
    background-color: purple;

}

.adventures {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 2em;
    align-items: center;
    justify-content: center;
    margin: 1em;



}


.newsletter {
    grid-column: 4/9;
    grid-row: 9/11;
    justify-self: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    background-color: var(--accent1-color);
    color: var(--white);
    margin: 1em 0;
    padding: 1em 0;
}

.newsletter p {
    justify-self: center;
    font-size: 1.5em;
    color: var(--black);
    margin: 1em 0 0 0;
}

.newsletter-form .field-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    margin: 1em;
    align-items: center;
}

.newsletter-form label {
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    color: var(--white);
    margin: 0;
}

.newsletter-form input {
    grid-column: 2;
    grid-row: 1;
}

.newsletter-form button {
    background-color: var(--button-color);
    padding: .5em 1em
}

.newsletter-form button:hover {
    background-color: var(--button-color-hover);
}



.field-grids{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}


/* Contact US styling begin */


.companyInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-image: url('https://byui-cse.github.io/wdd130-ww-course/resources/images/rafting7_600.jpg');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.contactInfoBack{
    background-color: gray;
    z-index: 2;
    width: 50%;
    height: 50%;
    border-style: double;
    border-width: 2em;
    border-color: #000;
}
.contactInfoBack div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: purple;
    font-weight: bold;
    font-size: 1.0em;
    flex-direction: row;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.contactInfoBack h1 {
    margin: 0; /* Remove default margin */
}

.contactInfoBack p {
    flex-grow: 1; /* Allow paragraph to take up remaining space */
    text-align: right; /* Align text to the right (if desired) */
    margin: 0; /* Remove default margin */
}
.ImgEmployees{
    flex-direction: row;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 7%;
   
}
.imageContainer{
    width: 100%;
    height: 100%;
}
.ImgEmployees img{

    width: 50%;
    height: 80%;


}

.contact-fields{
    flex-direction: column;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    background-color: gray;
}











/* Footer Styleing Begin */



footer {
    background-color: var(--footer-background);
    color: var(--footer-color);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    padding: 1em;
    margin-top: 50px;
}

.sociallinks {
    grid-column: 3;
}

.wireframe {
    color: var(--footer-color);

}

.sociallinks a,
.sociallinks a:hover {
    background-color: unset;
    color: unset;
}

.sociallinks img {
    width: 65px;
    height: 65px;
}







/* trips styling begins here */





.trips-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em 5px;
    margin: 50px auto;
}



.trips-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em 5px;
    margin: 1px auto;
}

.trips-table {
    grid-column: 1/-1;
    grid-row: auto;
}

.trips-table h2 {
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: center;
}



.trip-duration {
    grid-column: 1;
    text-align: center;

}

.trip-cost {
    grid-column: 2;
    text-align: center;
}

.trip-name {
    grid-column: 3;
    text-align: center;
}

.trip-cost:nth-of-type(even),
.trip-duration:nth-of-type(odd),
.trip-name:nth-of-type(odd) {
    background-color: #9f9f9f;
}

.trip-cost:nth-of-type(odd),
.trip-duration:nth-of-type(even),
.trip-name:nth-of-type(even) {
    background-color: #9f9f9f;
}

.table-heading {
    text-align: center;
    font-weight: 700;
    font-size: 1.25em;
    letter-spacing: 1px;
}

.trips {
    gap: 20px;

}

.adventures{
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 0 2em;
}






/* Grid Placement */










