:root {
    --heading-font: "Open Sans", sans-serif;
    --paragrpah-font: "Lato", sans-serif;

    --primary-color: #2d2b66;
    --secondary-color: #7c7a71;
    --accent1-color: #62606d;
    --accent2-color: #b19f78;

    --white: #fff;
    --black: #000;

    --footer-background: #333;
    --footer-color: #f3f3f3;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--paragrpah-font);
}

header,
main,
footer {
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

header {
    display: grid;
    grid-template-columns: 200px auto;
    background-color: var(--primary-color);
    align-items: center;
}

.logo {
    max-width: 200px;
    background-color: #fff;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    padding: 2em;
}

nav a:hover {
    color: var(--primary-color);
    background-color: #fff;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.533);
}

.hero article {
    position: absolute;
    top: 10rem;
    left: 2rem;
    right: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.533);
}

.hero article img {
    float: right;
    width: 200px;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 0 2rem;
}

.history h2 {
    grid-column: 1/4;
    justify-self: center;
}


.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0 2em;
}

.adventures h2 {
    grid-column: 1/-1;
    justify-self: center;
}

.adventures figure {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.adventures figure figcaption {
    background-color: var(--accent2-color);
    padding: .5em;
    text-align: center;
}


/* Footer Styleing Begin */
footer {
    background-color: var(--footer-background);
    color: var(--footer-color);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    padding: 1em;
    margin-top: 50px;
}

.sociallinks {
    grid-column: 3;
}

.wireframe {
    color: var(--footer-color);

}

.sociallinks a,
.sociallinks a:hover {
    background-color: unset;
    color: unset;
}

.sociallinks img {
    width: 65px;
    height: 65px;
}
/*Contact Us Css*/
.companyInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-image: url('https://byui-cse.github.io/wdd130-ww-course/resources/images/rafting7_600.jpg');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.contactInfoBack{
    background-color: gray;
    z-index: 2;
    width: 50%;
    height: 50%;
    border-style: double;
    border-width: 2em;
    border-color: #000;
}
.contactInfoBack div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: purple;
    font-weight: bold;
    font-size: 1.0em;
    flex-direction: row;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.contactInfoBack h1 {
    margin: 0; /* Remove default margin */
}

.contactInfoBack p {
    flex-grow: 1; /* Allow paragraph to take up remaining space */
    text-align: right; /* Align text to the right (if desired) */
    margin: 0; /* Remove default margin */
}
.ImgEmployees{
    flex-direction: row;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 7%;
   
}
.imageContainer{
    width: 100%;
    height: 100%;
}
.ImgEmployees img{

    width: 50%;
    height: 80%;


}

.contact-fields{
    flex-direction: column;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    background-color: gray;
}
