.callout {
    max-width: 400px;
    margin: auto;
    border: 10px;
    padding: 20px;
    background-color: steelblue;
    color: black;
}
.callout img {
    float: right;
    margin: auto;
    border: 2px solid;
    padding: 0.25rem;
    width: 150;
    height: auto;
    
    
	
}
blockquote {
margin: 0%;
	
}
cite {
	
}